<% content_for :title, "New return request" %>

<h1>New return request</h1>

<%= render "form", return_request: @return_request %>

<br>

<div>
  <%= link_to "Back to return requests", return_requests_path %>
</div>
