<p style="color: green"><%= notice %></p>

<% content_for :title, "Category closures" %>

<h1>Category closures</h1>

<div id="category_closures">
  <% @category_closures.each do |category_closure| %>
    <%= render category_closure %>
    <p>
      <%= link_to "Show this category closure", category_closure %>
    </p>
  <% end %>
</div>

<%= link_to "New category closure", new_category_closure_path %>
