<% content_for :title, "New category closure" %>

<h1>New category closure</h1>

<%= render "form", category_closure: @category_closure %>

<br>

<div>
  <%= link_to "Back to category closures", category_closures_path %>
</div>
