<% content_for :title, "Editing attribute value" %>

<h1>Editing attribute value</h1>

<%= render "form", attribute_value: @attribute_value %>

<br>

<div>
  <%= link_to "Show this attribute value", @attribute_value %> |
  <%= link_to "Back to attribute values", attribute_values_path %>
</div>
