<p style="color: green"><%= notice %></p>

<% content_for :title, "User identities" %>

<h1>User identities</h1>

<div id="user_identities">
  <% @user_identities.each do |user_identity| %>
    <%= render user_identity %>
    <p>
      <%= link_to "Show this user identity", user_identity %>
    </p>
  <% end %>
</div>

<%= link_to "New user identity", new_user_identity_path %>
