<% content_for :title, "New user identity" %>

<h1>New user identity</h1>

<%= render "form", user_identity: @user_identity %>

<br>

<div>
  <%= link_to "Back to user identities", user_identities_path %>
</div>
