<% content_for :title, "Editing product image" %>

<h1>Editing product image</h1>

<%= render "form", product_image: @product_image %>

<br>

<div>
  <%= link_to "Show this product image", @product_image %> |
  <%= link_to "Back to product images", product_images_path %>
</div>
