<p style="color: green"><%= notice %></p>

<% content_for :title, "Product images" %>

<h1>Product images</h1>

<div id="product_images">
  <% @product_images.each do |product_image| %>
    <%= render product_image %>
    <p>
      <%= link_to "Show this product image", product_image %>
    </p>
  <% end %>
</div>

<%= link_to "New product image", new_product_image_path %>
