<% content_for :title, "New product image" %>

<h1>New product image</h1>

<%= render "form", product_image: @product_image %>

<br>

<div>
  <%= link_to "Back to product images", product_images_path %>
</div>
