<% content_for :title, "New role permission" %>

<h1>New role permission</h1>

<%= render "form", role_permission: @role_permission %>

<br>

<div>
  <%= link_to "Back to role permissions", role_permissions_path %>
</div>
