<% content_for :title, "Editing refund" %>

<h1>Editing refund</h1>

<%= render "form", refund: @refund %>

<br>

<div>
  <%= link_to "Show this refund", @refund %> |
  <%= link_to "Back to refunds", refunds_path %>
</div>
