<p style="color: green"><%= notice %></p>

<% content_for :title, "Refunds" %>

<h1>Refunds</h1>

<div id="refunds">
  <% @refunds.each do |refund| %>
    <%= render refund %>
    <p>
      <%= link_to "Show this refund", refund %>
    </p>
  <% end %>
</div>

<%= link_to "New refund", new_refund_path %>
