<% content_for :title, "Editing product variant attr value" %>

<h1>Editing product variant attr value</h1>

<%= render "form", product_variant_attr_value: @product_variant_attr_value %>

<br>

<div>
  <%= link_to "Show this product variant attr value", @product_variant_attr_value %> |
  <%= link_to "Back to product variant attr values", product_variant_attr_values_path %>
</div>
