<p style="color: green"><%= notice %></p>

<% content_for :title, "Product variant attr values" %>

<h1>Product variant attr values</h1>

<div id="product_variant_attr_values">
  <% @product_variant_attr_values.each do |product_variant_attr_value| %>
    <%= render product_variant_attr_value %>
    <p>
      <%= link_to "Show this product variant attr value", product_variant_attr_value %>
    </p>
  <% end %>
</div>

<%= link_to "New product variant attr value", new_product_variant_attr_value_path %>
