<% content_for :title, "New product variant attr value" %>

<h1>New product variant attr value</h1>

<%= render "form", product_variant_attr_value: @product_variant_attr_value %>

<br>

<div>
  <%= link_to "Back to product variant attr values", product_variant_attr_values_path %>
</div>
