name: CD

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: [ "CI" ]
    types:
      - completed
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg SECRET_KEY_BASE=${{ secrets.SECRET_KEY_BASE }} \
            -t ${{ secrets.DOCKER_USERNAME }}/spree-v2-backend:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/spree-v2-backend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Deploy to EC2
        run: |
          # Create a temporary private key file
          echo "${{ secrets.SERVER_SSH_KEY }}" > ec2_key.pem
          chmod 600 ec2_key.pem
      
          # SSH into EC2 and run commands
          ssh -i ec2_key.pem -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_HOST }} 
          
          #Pull latest web image and restart docker compose
          docker-compose pull web &&
          echo ${{ secrets.DOCKER_USERNAME }} && 
          docker-compose restart web || true
          
          #Remove ec2_key pem
          rm -f ec2_key.pem