name: CD

on:
  workflow_run:
    workflows: [ "CI" ]
    types:
      - completed
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    # Only run if CI workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg SECRET_KEY_BASE=${{ secrets.SECRET_KEY_BASE }} \
            -t ${{ secrets.DOCKER_USERNAME }}/spree-v2-backend:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/spree-v2-backend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    # Only run if CI workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy to EC2
        run: |
          # Create temporary private key
          echo "${{ secrets.SERVER_SSH_KEY }}" > ec2_key.pem
          chmod 600 ec2_key.pem
  
          # SSH into EC2 and run deployment commands
          ssh -i ec2_key.pem -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_HOST }} << 'EOF'
            echo "Pulling latest image..."
            docker compose pull web
  
            echo "Restarting service..."
            docker compose up -d web
          EOF

      - name: Remove pem file
        run: rm -f ec2_key.pem
