name: CI

on:
  push:
    branches: [ '*']
jobs:
  test:
    runs-on: ubuntu-latest
    
    env:
      RAILS_ENV: test
      DATABASE_URL: sqlite3:db/test.sqlite3
      REDIS_URL: redis://localhost:6379/0
      
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.6'
          bundler-cache: true
      
      - name: Install dependencies
        run: |
          bundle config set --local without 'development'
          bundle install --jobs 4 --retry 3

      - name: Setup test database
        run: |
          bundle exec rails db:create RAILS_ENV=test
          bundle exec rails db:migrate RAILS_ENV=test
      
      - name: Run Brakeman security scan
        run: bundle exec brakeman --no-pager --no-exit-on-warn --format plain
        continue-on-error: true
      
      - name: Run Rubocop
        run: bundle exec rubocop --parallel --format progress
        continue-on-error: true
      
#      - name: Run RSpec tests
#        run: bundle exec rspec --format documentation --color
